%h1 Cohorts
%h2 Showing #{@weeks} week#{@weeks == 1 ? "" : "s"}

%table
  %thead
    %td
    %td Users
    - @weeks.times do |day|
      %td
        #{day * 7}-#{day * 7 + 7} days
  %tbody
    - @cohorts.each do |cohort|
      %tr
        %td
          = cohort.date
        %td
          = cohort.registered_users
        - @weeks.times do |index|
          %td
            - if cohort.orders[:orderers][index]
              ordered (#{cohort.orders[:orderers][index]})
            - if cohort.orders[:first_timers][index]
              %br
              first timers (#{cohort.orders[:first_timers][index]})